
:root {
    --PrimaryColor : hsl(199, 100%, 33%);
    --SecondaryColor : hsl(187, 85%, 43%);
    --gradientColor : linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor : hsl(0, 0%, 100%);
    --blackColor : hsl(201, 33%, 16%);
    --textColor : hsl(240, 4%, 36%);
    --whiteColorDeam : hsl(0, 0%, 93%);
    --greyText : rgb(190, 190, 190);
    --inputColor : rgb(239, 239, 239);
    --bodyColor : rgb(240, 240 , 246);
    --cardBG: rgb(225, 225, 235);
}
.footer{
    width: 100%;
    position: relative;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.footer .videoDiv{
    position: absolute;
    height: 100%;
    width: 100%;
}
.footer .videoDiv video {
    height: 100%;
    object-fit: cover;
}
.footer .videoDiv video::after{
    content: '';
    position: absolute;
    background: rgba(10, 84, 107, 0.307);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    mix-blend-mode: multiply;
}
.footer .secContent {
    width: 100%;
    height: max-content;
    padding: 2rem initial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    row-gap: 2rem;
    z-index: 100;
}
.footer .secContent .contactDiv{
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}
.contactDiv .text small{
    font-size: 13px;
    font-weight: 400;
    color: var(--whiteColor);
}
.contactDiv .text h2 {
    color: var(--whiteColor);
    font-size: 1.8rem;
}
.secContent .inputDiv{
    width: 100%;
    gap: 1rem;
    flex-direction: column;   
}
.secContent .inputDiv input {
    width: 100%;
    padding: .3rem .6rem;
    border-radius: 3rem;
    border: 1px solid var(--whiteColor);
    outline:none;
    background: transparent;
    color: var(--whiteColor);
}
.secContent .inputDiv input::placeholder{
    color: var(--whiteColor);
}
.secContent .inputDiv .btn{
    justify-content: center;
    color: var(--whiteColor);
    font-weight: 500;
    gap: .5rem;
}
.secContent .inputDiv .btn .icon{
    font-size: 18px;
}
.footerCard{
    position: relative;
    padding: 1rem 1rem 4rem;
    gap: 2rem;
    border-radius: 1rem;
    background-color: var(--bodyColor);
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}
.footerCard .footerIntro{
    flex-basis: 50%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: .5rem;
}
.footerIntro .logoDiv .logo{
   color: var(--blackColor);
   font-weight: 600;
}
.footerIntro .logoDiv .logo .icon{
    font-size: 25px;
    color: var(--PrimaryColor);
    margin-right: 10px;
}
.footerParagraph {
    font-size: 13px;
    color: var(--textColor);
    margin-top: .5rem;
}
.footerSocials{
    margin-top: .5rem;
    column-gap: .5rem;
}
.footerSocials .icon{
    font-size: 25px;
    margin-right: .5rem;
}
.footerSocials .icon:hover{
    color: var(--PrimaryColor);
}
.footerLinks{
    flex-basis: 50%;
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}
.footerLinks .linkGroup .groupTitle {
    display: block;
    font-weight: 600;
    color: var(--blackColor);
    margin: 1rem 0rem .5rem 0px;
}
.footerList{
    font-size: 15px;
    color: var(--textColor);
    transition: .3 ease-in-out;
}
.footerList .icon {
    font-size: 15px;
    color: var(--greyText);
}
.footerList:hover .icon{
    color: var(--SecondaryColor);
}
.footerList:hover {
    color: var(--PrimaryColor);
    transform: translate(7px);   
}

/* MEDIA QUERIES */
@media screen and (min-width: 500px) {
    .footerCard .footerLinks{
        grid-template-columns: repeat(3,1fr);
        padding-bottom: 1rem;
    }
}
@media screen and (min-width: 660px) {
   .contactDiv{
    flex-direction: row !important ;
    justify-content: space-between;
   }
   .contactDiv .inputDiv{
        width: max-content;
        flex-direction: row;
        justify-content: flex-start;
   }
   .contactDiv .inputDiv input{
    width: 100%;
   }
   .contactDiv .inputDiv input .btn{
    width: max-content;
   }
}
@media screen and (min-width: 840px) {
    .footer{
        padding: 5rem 0;
    }
    .footer .secContent .footerCard{
        flex-direction: row;
    }
    .footerLinks{
        grid-template-columns: repeat(3,1fr);
        padding-bottom: 1rem;
    }
 }

 @media screen and (min-width: 1024px) {
    .footerCard{
        padding: 3rem 1rem;
    }
    .footerParagraph{
        font-size: 15px;
        color: var(--textColor);
    }
    .footerSocials{
        column-gap: .5rem;
    }
    .footerSocials .icon{
        color: var(--textColor);
        font-size: 25px;
    }
    .footerSocials .icon:hover{
        color: var(--PrimaryColor);
    }
    .footerList{
        font-size: 16px;
        padding: 5px 0;
    }
 }